[submodule "pyronia-linux"]
	path = pyronia-linux
	url = git@github.com:masomel/pyronia-linux.git
[submodule "pyronia-cpython"]
	path = pyronia-cpython
	url = git@github.com:masomel/pyronia-cpython.git
[submodule "libpyronia"]
	path = libpyronia
	url = git@github.com:masomel/libpyronia.git
[submodule "iot-app-analysis"]
	path = iot-app-analysis
	url = git@github.com:masomel/iot-app-analysis.git
